[submodule "submodules/SmartNFTPortal"]
	path = submodules/SmartNFTPortal
	url = https://github.com/kieransimkin/SmartNFTPortal
[submodule "submodules/libcip54"]
	path = submodules/libcip54
	url = https://github.com/kieransimkin/libcip54
[submodule "submodules/SimpleCip54Viewer"]
	path = submodules/SimpleCip54Viewer
	url = https://github.com/kieransimkin/SimpleCip54Viewer
[submodule "public/LPC-spritesheet-collection"]
	path = public/LPC-spritesheet-collection
	url = https://github.com/kieransimkin/LPC-spritesheet-collection
[submodule "submodules/react-mediaslide"]
	path = submodules/react-mediaslide
	url = https://github.com/kieransimkin/react-mediaslide
[submodule "submodules/cardano-ledger-ts"]
	path = submodules/cardano-ledger-ts
	url = https://github.com/kieransimkin/cardano-ledger-ts.git
[submodule "submodules/LlamaIndexTS"]
	path = submodules/LlamaIndexTS
	url = git@github.com:kieransimkin/LlamaIndexTS.git
