
body {
  margin:0 0 0 0;
  padding: 0 0 0 0 ;
  letter-spacing: 0.10em;
}
:-webkit-any-link {
  color: inherit;
  text-decoration: inherit;
}

:-moz-any-link {
  color: inherit;
  text-decoration: inherit;
}

:any-link {
  color: inherit;
  text-decoration: inherit;
}
button, .MuiButton-root { 
  letter-spacing: 0.02em;
  font-weight: 600 !important;
}
div.MuiDataGrid-root { 
  border: none !important;
}

.mapboxgl-control-container { 
  display: none;
}
html,body {
  height:100%;
}
a, a:link, a:visited, a:focus, a:active { 
  
  font-family: 'MuseoModerno';
}
.tableIcon { 
  position: relative;
  left: -5px;
}
#customized-dialog-title {
  padding: 0;
}
.MuiDialogContent-root:first-child { 
  padding-bottom: 0px;
  overflow: visible;
}
.tandem > a, .tandem > a:active, .tandem > a:focus, .tandem > a:link, .tandem > a:visited { 
  display: inline-block;
  position: fixed;
  font-family: monospace !important;
  letter-spacing: 0;
  font-size: 5px;
  font-weight: 900;
  cursor: none;
  color:#ffffff55;
  margin-right:1em;
  bottom:0;
  right: 0;
}
.nomwbtn { 
  
  min-width: 10px !important;
}
.nopadbtn { 
  padding: 0 !important;
  min-width: 10px !important;
  position: relative;
  left: 0.5em;
  top: -0.1em;
  margin: 0 !important;
}
.MuiPaper-rounded { 
  border-radius: 2em !important;
}
.MuiDialog-paper { 
  max-width: none !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.MuiDialogContent-root { 
  background-color: inherit !important;
}
h1 { 
  stroke-width: 1em;
  text-shadow: 1px 1px 15px rgba(0,0,0,0.6), 0px 0px 3px rgba(0,0,0,1), 1px 1px 2px rgba(0,0,0,1), -1px -1px 2px rgba(0,0,0,1), 0px -1px 2px rgba(0,0,0,1), 0px 1px 2px rgba(0,0,0,1), 1px 0px 2px rgba(0,0,0,1), -1px 0px 2px rgba(0,0,0,1);
  font-weight: 300 !important;
  color: white !important;
  filter: drop-shadow(2px 2px 2px 2px rgba(0,0,0,0.5)) !important;
  font-family: 'MuseoModerno' !important;
}
h2 {
  font-family: 'MuseoModerno' !important;
}
@media (max-width: 1279px) { 
  h1 { 
    font-size: 60px !important;
    margin-top: 35px !important;
  }
  h2 { 
    font-size: 32px !important;
    font-weight: 700 !important;
  }
  h3 { 
    font-size: 22px !important;
  }
  main:not(.fullscreen) { 
    margin-top: 90px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .column h1 { 
    margin-top: 0px !important;
  }
  .column { 
    max-width: inherit !important;
    flex-basis: 100% !important;
    width: 100%;
  }
  .slide-content div.MuiPaper-root { 
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .row { 
    flex-direction: column;
  }
  .hiding-space { 
    display: none;
  }
  .bottom-button { 
    bottom: 10px !important;
  }
  .bottom-button div { 
    padding: 7px !important;
  }
  .bottom-button div h4 { 
    font-size: 30px;
  }
  .bottom-button div h4 svg { 
    position: relative;
    top: 4px;
    left: 3px;
  }
  .slide-content button { 
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 30px !important;
  }
  .slide-content button svg { 
    position: relative;
    top: 1px;
    left: 1px;
  }
}
@media (max-width: 480px) { 
  h1 { 
    font-size: 40px !important;
    margin-top: 40px !important;
  }
  h2 { 
    font-size: 28px !important;
    font-weight: 700 !important;
  }
  h3 {
    font-size: 25px !important;
  }
  main:not(.fullscreen) { 
    margin-top: 40px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .hiding-space { 
    display: none;
  }
  .column h1 { 
    margin-top: 0px !important;
  }
  .column { 
    max-width: inherit !important;
    flex-basis: 100% !important;
    width: 100%;
  }
  .row { 
    flex-direction: column;
  }
  .slide-content { 
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .slide-content > div { 
    gap: 1em !important;
  }
  .slide-content div.MuiPaper-root { 
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .slide-content h1 { 
    margin-top: 0px !important;
  }
  .bottom-button { 
    bottom: 0 !important;
  }
  .bottom-button div { 
    padding: 5px !important;
  }
  .bottom-button div h4 { 
    font-size: 30px;
  }
  .bottom-button div h4 svg { 
    position: relative;
    top: 4px;
    left: 3px;
  }
  .slide-content button { 
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 25px !important;
  }
  .slide-content button svg { 
    position: relative;
    top: 3px;
    left: 1px;
  }
}
.cm-content {
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word;
}
.cm-editor { 
  flex-grow: 1
}
.rc-divider { 
  min-width: 0.4em;
  min-height: 0.4em;
}
.rc-divider-horizontal { 
  cursor:ew-resize;
}
.rc-divider-vertical { 
  cursor:ns-resize;
}
table.linktable { 
  border-spacing: 0 !important;
  border: 0;
}
table.linktable td { 
  margin: 0.5em;
  padding:0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
table.linktable > *:not(:last-child) td { 
  border-bottom: 1px solid black;
}
ul.infolist li { 
  padding:0.5em;
}
.MuiMenuItem-root { 
  padding-top: 10px !important;
  padding-bottom: 12px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  min-width: 200px;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 240px;
   transform: rotate(270deg);
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 0.5rem;
  height: 0.5rem;  
}
input[type="range"]::after { 
  content:'';
  pointer-events: none;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:1.2em;
  z-index: 0;
  display:block;
  min-width: 240;
  background-color: #053a5f;
  background: linear-gradient(90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.30) 100%);
  clip-path: polygon(100% 0, 0 0%, 100% 100%);
  border-radius: 15px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  position:relative;
  border: 1px solid #ffffff8a;
  left:0px;
  top:13px;
  border-radius: 0.5rem;
  /*custom styles*/
  box-shadow: -1px 1px 2px 1px rgba(255,255,255,0.25);
  background-color: #000000af;
  height: 1.2em;
  z-index: 100;
  width:1rem;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {   
border: 1px solid #ffffffff;
box-shadow: -1px 1px 3px 2px rgba(255,255,255,0.8) !important;
}
input[type="range"]:hover::-webkit-slider-thumb {   
  border: 1px solid #ffffffee;
  box-shadow: -1px 1px 2px 2px rgba(255,255,255,0.3);
 }
 
/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  position:relative;
  outline: 1px solid #000000cc;
  left:0px;
  border-radius: 0.5rem;
  /*custom styles*/
  box-shadow: -2px -2px 2px 2px rgba(0,0,0,0.5);
  background-color: #ffffff;
  height: 2rem;
  z-index: 100;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #050a2f;
  outline: 1px solid #050a2f;
}